# compiled output
/dist
/node_modules
/build

# Env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Test coverage
/coverage

# generated prisma client
/generated
